.section-text-wrapper {
  text-align: center;
  align-self: center;
}

#about {
  padding: 3rem;
}

.section-text {
  padding-right: 7rem;
  padding-left: 7rem;
  padding-bottom: 3rem;
}

#map {
  height: 400px;
  position: relative;
}

@media (max-width: 62em) {
  #map {
    margin-top: 3rem;
  }

  #about {
    padding: 1rem;
  }

  .section-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
