<section id="about" class="background-white section" fxLayout="column">
  <h1 class="ms700 center-text space section-text-shadow">About</h1>
  <div class="section-text-wrapper">
    <p class="section-text space ms500">
      Lidotemp was created to help inform swimmers of their London lido
      temperatures before heading out the door. No more trawling through various
      Twitter feeds or calling up lidos when you have everything in one place at
      Lidotemp.
    </p>
    <div #mapContainer id="map"></div>
  </div>
</section>
