.section-text-wrapper {
  text-align: center;
  align-self: center;
}

#about {
  padding: 6rem;
}

.section-text {
  padding-right: 8rem;
  padding-left: 8rem;
  padding-bottom: 2rem;
}

#map {
  height: 400px;
  position: relative;
}

@media (max-width: 62em) {
  #map {
    margin-top: 3rem;
  }

  #about {
    padding: 1rem;
  }

  .section-text {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
  }

  .center-text {
    font-size: 1.625rem;
  }

  h1 {
    padding-top: 4rem;
  }
}
