input {
  color: #124559;
}

h1 {
  margin-bottom: 2rem;
}

.section {
  height: 100vh;
}

.center-text-wrapper {
  height: 15%;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #ffbf26 !important;
}

:host ::ng-deep .mat-form-field-label {
  color: #124559 !important;
  font-family: 'Ubuntu', sans-serif !important;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: #124559 !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: #124559 !important;
}

:host ::ng-deep .mat-form-field {
  width: 50vw !important;
  padding: 2rem;
}
