<section class="section" fxLayout="column" fxLayoutAlign="center">
  <h1 class="space center-text ms700 section-text-shadow">
    Reset Password
  </h1>
  <div
    class="center-text-wrapper space"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <h2 class="ms500">
      Please enter your email address to request a password reset.
    </h2>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="email"
          type="text"
          name="email"
          autocomplete="email"
          required
        />
      </mat-form-field>
    </form>
  </div>
  <div class="center-text-wrapper">
    <button
      mat-raised-button
      type="submit"
      value="Reset Password"
      class="button ms400 glow background-space"
      (click)="authService.forgotPassword(email)"
    >
      Reset Password
    </button>
  </div>
  <h3 class="ms700">
    <a href="/" class="space modal-link" fxLayoutAlign="center"> Go home?</a>
  </h3>
</section>
