<section class="section" fxLayout="column" fxLayoutAlign="center">
  <h1 class="koa center-text ub700 section-text-shadow">
    Reset Password
  </h1>

  <div class="center-text-wrapper koa" fxLayout="column" fxLayoutAlign="center">
    <h2 class="ub500 section-text-shadow">
      Please enter your email address to request a password reset.
    </h2>
    <mat-form-field fxLayoutAlign="center">
      <input
        type="email"
        placeholder="Email"
        #passwordResetEmail
        required
        appearance="outline"
      />
    </mat-form-field>
  </div>
  <div class="center-text-wrapper">
    <button
      mat-raised-button
      type="submit"
      value="Reset Password"
      class="button ub400 glow background-koa"
      (click)="authService.forgotPassword(passwordResetEmail.value)"
    >
      <i></i>
      Reset Password
    </button>
  </div>
</section>
