<form fxLayout="row" [formGroup]="lidoSearch">
  <mat-form-field>
    <input
      class="searchbar"
      formControlName="lidoName"
      type="text"
      placeholder="Search swimming venue"
      aria-label="Search swimming venue"
      matInput
      [matAutocomplete]="auto"
      onClick="this.setSelectionRange(0, this.value.length)"
      required
    />

    <mat-autocomplete
      #autocomplete
      class="autocomplete"
      #auto="matAutocomplete"
      (optionSelected)="onSelect($event.option.value)"
    >
      <mat-option
        class="space"
        *ngFor="let option of filteredOptions | async"
        [value]="option.name"
        [ngClass]="_allowSelection(option)"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button
    *ngIf="!router.url.includes('submit')"
    mat-icon-button
    mat-raised-button
    class="cta-button background-glow"
    (click)="goButton()"
    aria-label="Search button"
  >
    <mat-icon class="icon white">keyboard_arrow_right</mat-icon>
  </button>
</form>
