:host ::ng-deep .mat-form-field {
  width: 40vw !important;
}

.no-data {
  pointer-events: none;
}

.cta-button {
  border-radius: 50%;
  margin: 1rem;
}

@media (min-width: 48em) {
  :host ::ng-deep .mat-form-field {
    width: 30vw !important;
  }
}
