input {
  color: #ffbf26;
}

h1 {
  font-size: 1.5rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

h2 {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.left-align {
  text-align: left;
}

input:focus {
  color: white;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #ffbf26 !important;
}

:host ::ng-deep .mat-form-field-label {
  color: white !important;
  font-family: 'Ubuntu', sans-serif !important;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: #ffbf26 !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: white !important;
}

:host ::ng-deep .mat-option-text {
  color: #2f3764 !important;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 500;
}

:host ::ng-deep .mat-form-field {
  width: 70vw !important;
}

@media (min-width: 48em) {
  :host ::ng-deep .mat-form-field {
    width: 50vw !important;
  }
}
