<form fxLayout="column">
  <mat-form-field>
    <input
      class="searchbar"
      [formControl]="lidoName"
      type="text"
      placeholder="Lido name"
      aria-label="Lido name"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #autocomplete
      class="autocomplete"
      #auto="matAutocomplete"
      (optionSelected)="getTemperature($event.option.value)"
    >
      <mat-option
        class="aqua"
        *ngFor="let option of filteredOptions | async"
        [value]="option.name"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
