<form fxLayout="column" [formGroup]="lidoSearch">
  <mat-form-field>
    <input
      class="searchbar"
      formControlName="lidoName"
      type="text"
      placeholder="Swimming venue name"
      aria-label="Swimming venue name"
      matInput
      [matAutocomplete]="auto"
      required
    />
    <mat-autocomplete
      #autocomplete
      class="autocomplete"
      #auto="matAutocomplete"
      (optionSelected)="onSelect($event.option.value)"
    >
      <mat-option
        class="space"
        *ngFor="let option of filteredOptions | async"
        [value]="option.name"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
