@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'destyle.css';
* {
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.4;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  overflow-x: hidden;
}

body {
  display: block;
}

.cdk-global-scrollblock {
  position: static;
  overflow: hidden !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #2f3764;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

h1 {
  padding: 2rem;
  font-size: 2.525rem;
}

h2 {
  font-size: 1.5rem;
}

.ms400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.ms500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.ms700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.center-text-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.center-text {
  align-self: center;
  font-size: 2.625rem;
  text-align: center;
}

.glow {
  color: #ffbf26;
}

.background-glow {
  background-color: #ffbf26;
}

.aqua {
  color: #4dbad6;
}

.background-aqua {
  background-color: #4dbad6;
}

.gray {
  color: #bcbcbc;
}

.background-gray {
  background-color: #bcbcbc;
}

.space {
  color: #474747;
}

.background-space {
  background-color: #474747;
}

.white {
  color: white;
}

.background-white {
  background-color: white;
}

.nah {
  color: #e54b4b;
}

.background-nah {
  background-color: #e54b4b;
}

.full-width {
  width: 100%;
}

.autocomplete {
  max-height: 220px !important;
}

.section {
  padding-left: 3rem;
  padding-right: 3rem;
}

.section-text {
  font-size: 1.2rem;
}

.section-text-shadow {
  text-shadow: -1px 1px 2px rgba(5, 23, 81, 0.43);
}

.map-info {
  padding-bottom: 1rem;
}

.sidenav-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  max-height: 45px;
  border-radius: 35px;
  display: inline-block;
  border-radius: 2rem;
  font-size: 0.9375rem;
  border: none;
  transition: all 0.3s ease;
}

.modal-link:hover {
  color: #ffbf26;
  cursor: pointer;
}

.modal-link-container {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  text-align: center;
}

.info-window-title {
  font-size: 1rem;
  padding: 0.5rem;
}

.dialog-container .mat-dialog-container {
  margin: 2rem;
}

.snackbar {
  background-color: #474747;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

.snackbar button {
  color: #ffbf26;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.center-text {
  font-size: 2rem;
}
