@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'destyle.css';
* {
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.4;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0ps;
  padding: 0px;
  overflow-x: hidden;
}

body {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #2f3764;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

#main {
  display: block;
}

button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.ub400 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.ub500 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.ub700 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.center-text-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.center-text {
  align-self: center;
  font-size: 2.625rem;
  text-align: center;
}

.glow {
  color: #ffbf26;
}

.background-glow {
  background-color: #ffbf26;
}

.comfort {
  color: #f3a8a9;
}

.background-comfort {
  background-color: #f3a8a9;
}

.ochre {
  color: #ce7c16;
}

.background-ochre {
  background-color: #ce7c16;
}

.koa {
  color: #2f3764;
}

.background-koa {
  background-color: #2f3764;
}

.eggshell {
  color: #debaa7;
}

.background-eggshell {
  background-color: #debaa7;
}

.white {
  color: white;
}

.background-white {
  background-color: white;
}

.full-width {
  width: 100%;
}

.autocomplete {
  max-height: 220px !important;
}

.section {
  min-height: 85vh;
  padding: 3rem;
}

.section-text {
  font-size: 1.75rem;
}

.section-text-shadow {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.map-info {
  padding-bottom: 1rem;
}
