<section class="landing background-koa section">
  <span
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout.m="column"
    fxLayoutGap="90px"
  >
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1 class="glow ub700">
        Find the water temperature of your London swimming venue today
      </h1>
      <app-lido-searchbar fxLayoutAlign="center start"></app-lido-searchbar>
      <app-temperature-display></app-temperature-display>
    </div>
    <div fxLayoutAlign="center center">
      <img
        class="pool-animation"
        src="../../../assets/pool.gif"
        alt="Animated pool gif"
      />
    </div>
  </span>
</section>
