<section class="landing background-cambridge section">
  <span
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout.m="column"
    fxLayoutGap="4em"
  >
    <div class="cta" fxLayout="column" fxLayoutAlign="center start">
      <h1 class="midnight ub700">
        Find the water temperature of your London swimming venue today
      </h1>
      <app-lido-searchbar fxLayoutAlign="center start"></app-lido-searchbar>
      <app-temperature-display></app-temperature-display>
    </div>
    <div>
      <img
        class="pool-animation"
        src="../../../assets/pool.jpeg"
        alt="Pool water photo"
      />
    </div>
  </span>
</section>
