h1 {
  padding-top: 0;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
}

.pool-animation {
  height: 80vh;
  position: relative;
  padding: 3.5rem;
}

.landing {
  padding-top: 7rem;
}

@media (max-width: 48em) {
  .pool-animation {
    width: 117vw !important;
  }
}
