.cta {
  background-image: url('../../../assets/poolside.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 2rem;
  padding-right: 4rem;
  padding-top: 12rem;
  width: 100vw;
  box-shadow: -1px 1px 2px rgba(63, 66, 73, 0.43);
}

h1 {
  font-size: 1.6rem;
  padding: 0;
  padding-bottom: 1rem;
}

:host ::ng-deep app-lido-searchbar input {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

:host ::ng-deep app-lido-searchbar .mat-focused .mat-form-field-label {
  color: white !important;
}

:host ::ng-deep app-lido-searchbar .mat-form-field-label {
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
}

:host
  ::ng-deep
  app-lido-searchbar
  .mat-form-field-underline
  .mat-form-field-ripple {
  background-color: white !important;
}

:host ::ng-deep app-lido-searchbar .mat-form-field-underline {
  background-color: white !important;
}

:host ::ng-deep app-lido-searchbar .mat-option-text {
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

:host ::ng-deep app-lido-searchbar input::-webkit-input-placeholder {
  color: white !important;
}

:host ::ng-deep app-lido-searchbar input:-moz-placeholder {
  color: white !important;
}

:host ::ng-deep app-lido-searchbar input::-moz-placeholder {
  color: white !important;
}

:host ::ng-deep app-lido-searchbar input:-ms-input-placeholder {
  color: white !important;
}

:host
  ::ng-deep
  app-lido-searchbar
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick {
  color: white !important;
}

@media (min-width: 48em) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 62em) {
  .cta {
    padding: 16rem;
    padding-bottom: 2rem;
    padding-top: 13rem;
  }
}

@media (min-width: 320px) and (max-width: 320px) {
  .cta {
    padding-top: 8rem;
  }
}
