h1 {
  padding-top: 0;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
}

.cta {
  padding: 3rem;
  padding-top: 8rem;
}

input {
  color: #124559;
}

input:focus {
  color: #142733;
}

:host ::ng-deep app-lido-searchbar .mat-focused .mat-form-field-label {
  color: #124559 !important;
}

:host ::ng-deep app-lido-searchbar .mat-form-field-label {
  color: #124559 !important;
  font-family: 'Ubuntu', sans-serif !important;
}

:host
  ::ng-deep
  app-lido-searchbar
  .mat-form-field-underline
  .mat-form-field-ripple {
  background-color: #124559 !important;
}

:host ::ng-deep app-lido-searchbar .mat-form-field-underline {
  background-color: #124559 !important;
}

:host ::ng-deep app-lido-searchbar .mat-option-text {
  color: #142733 !important;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 500;
}

:host ::ng-deep app-lido-searchbar input::-webkit-input-placeholder {
  color: #124559 !important;
}

:host ::ng-deep app-lido-searchbar input:-moz-placeholder {
  color: #124559 !important;
}

:host ::ng-deep app-lido-searchbar input::-moz-placeholder {
  color: #124559 !important;
}

:host ::ng-deep app-lido-searchbar input:-ms-input-placeholder {
  color: #124559 !important;
}

:host
  ::ng-deep
  app-lido-searchbar
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick {
  color: #142733 !important;
}

@media (max-width: 62em) {
  .cta-hero {
    width: 100vw !important;
  }

  h1 {
    font-size: 1.625rem;
  }
}
