.footer {
  margin: 1rem 5% 0;
  padding: 1rem 0 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-aside {
  font-weight: 400;
  border-top: 2px solid #2f3764;
}

.copyright {
  font-size: 1rem;
}
