h2 {
  font-size: 1rem;
  max-width: 61vw;
}

.opening-hours-label {
  padding-top: 0.5rem;
}

.opening-hours-container {
  margin-top: -1rem;
}

@media (min-width: 48em) {
  h2 {
    font-size: 1.25rem;
    max-width: 31vw;
  }
}
