<app-lido-searchbar
  (lidoNameEmitter)="getLatestTemperature($event)"
  fxLayoutAlign="center start"
></app-lido-searchbar>
<div
  class="ub500"
  fxLayout="column"
  fxLayoutGap="2rem"
  *ngIf="temperatureLabel"
  fxLayoutAlign="center center"
>
  <h2 class="midnight">
    The water temperature at {{ selectedLido }} is
    {{ latestWaterTemperature }} °C.
  </h2>
  <h2 class="midnight">
    The area temperature at {{ selectedLido }} is
    {{ latestAreaTemperature }} °C.
  </h2>

  <h3 class="midnight">
    Last updated:
    {{ lastUpdated.toDate() | date: 'hh:mm a dd/MM/yyyy' }}
  </h3>
  <h3 class="opening-hours-label midnight">
    Opening Hours:
  </h3>
  <div
    [innerHtml]="openingHours"
    fxLayoutAlign="center center"
    fxLayout="column"
    class="opening-hours-container midnight ub500"
  ></div>
</div>
<div class="ub500" *ngIf="sorryLabel">
  <h2 class="midnight">
    There is no temperature history yet for {{ selectedLido }}.
  </h2>
</div>
