h2 {
  text-align: center;
  font-size: 1.25rem;
}

.opening-hours-label {
  padding-top: 0.5rem;
}

.opening-hours-container {
  margin-top: -1rem;
}

.section-text-wrapper {
  width: 65vw;
  text-align: center;
}
