input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.section {
  padding: 3rem;
  height: 100vh;
}

.legend {
  padding: 2rem;
  text-align: center;
}

h1 {
  padding-left: 1rem;
  padding-top: 3rem;
}

h2 {
  padding-bottom: 2rem;
}

label {
  padding-top: 2rem;
}

.submit {
  padding-top: 2rem;
  padding-left: 1rem;
}

app-lido-searchbar {
  color: white !important;
}

input {
  color: white;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #ffbf26 !important;
}

:host ::ng-deep .mat-form-field-label {
  color: #ffbf26 !important;
  font-family: 'Montserrat', sans-serif !important;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: white !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: white !important;
}

:host ::ng-deep .mat-option-text {
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

:host ::ng-deep input::-webkit-input-placeholder {
  color: white !important;
}

:host ::ng-deep input:-moz-placeholder {
  color: white !important;
}

:host ::ng-deep input::-moz-placeholder {
  color: white !important;
}

:host ::ng-deep input:-ms-input-placeholder {
  color: white !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick {
  color: white !important;
}

:host ::ng-deep .mat-form-field,
.button {
  width: 70vw !important;
}

:host ::ng-deep app-lido-searchbar .mat-form-field {
  width: 70vw !important;
}

@media (min-width: 48em) {
  :host ::ng-deep .mat-form-field,
  .button {
    width: 50vw !important;
  }

  :host ::ng-deep app-lido-searchbar .mat-form-field {
    width: 50vw !important;
  }
}
