<section class="section background-midnight">
  <h1 class="ub700 cambridge section-text-shadow" fxLayoutAlign="start">
    Hi,
    {{ authService.userData ? authService.userData.displayName : 'User' }}!
  </h1>
  <div class="submit" fxLayoutAlign="center" fxLayout="column">
    <h2 class="ub500 cambridge">
      What's the temperature of your swimming venue today?
    </h2>
    <app-lido-searchbar></app-lido-searchbar>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      fxLayoutAlign="center"
      fxLayout="column"
    >
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Temperature (°C)"
          formControlName="temperature"
          (keydown.enter)="onSubmit()"
        />
      </mat-form-field>
      <button
        mat-raised-button
        class="button background-cambridge midnight"
        type="submit"
      >
        Submit
      </button>
    </form>
    <label *ngIf="thanksLabel" class="cambridge ub500" [@slideUp]
      >Thanks for your help today!</label
    >
    <label *ngIf="errorLabel" class="nah ub500" [@slideUp]
      >Uh oh. Something went wrong. Please try again.</label
    >
  </div>
</section>
