<section class="section background-space">
  <h1 class="ms700 white section-text-shadow" fxLayoutAlign="start">
    Hi,
    {{ authService.userData ? authService.userData.displayName : 'User' }}!
  </h1>
  <div class="submit" fxLayoutAlign="center center" fxLayout="column">
    <h2 class="ms500 white section-text-shadow">
      What's the temperature of your swimming venue today?
    </h2>
    <app-lido-searchbar
      #searchbar
      (lidoNameEmitter)="setLidoName($event)"
    ></app-lido-searchbar>
    <form
      [formGroup]="submitForm"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Water temperature (°C)"
          formControlName="waterTemperature"
          (keydown.enter)="onSubmit()"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Area temperature (°C)"
          formControlName="areaTemperature"
          (keydown.enter)="onSubmit()"
        />
      </mat-form-field>
      <button
        mat-raised-button
        class="button background-white space"
        type="submit"
        (click)="onSubmit()"
        [disabled]="submitForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</section>
