input {
  color: #124559;
}

#contact {
  padding: 3rem;
}

#form {
  padding-bottom: 1rem;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #124559 !important;
}

:host ::ng-deep .mat-form-field-label {
  color: #124559 !important;
  font-family: 'Ubuntu', sans-serif !important;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: #124559 !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: #124559 !important;
}

:host ::ng-deep .mat-form-field {
  width: 70vw !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick {
  color: #124559;
}

:host ::ng-deep .mat-form-field {
  color: #124559;
}

@media (max-width: 62em) {
  h1 {
    font-size: 1.625rem;
  }
}
