input {
  color: #474747;
}

#contact {
  padding: 8rem;
}

.section {
  padding-left: 10rem;
  padding-right: 10rem;
}

#form {
  padding-bottom: 1rem;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #474747 !important;
}

:host ::ng-deep .mat-form-field-label {
  color: #474747 !important;
  font-family: 'Montserrat', sans-serif !important;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: #474747 !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: #474747 !important;
}

:host ::ng-deep .mat-form-field {
  width: 70vw !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick {
  color: #474747;
}

:host ::ng-deep .mat-form-field {
  color: #474747;
}

:host ::ng-deep .mat-form-field {
  width: 60vw !important;
}

@media (min-width: 48em) {
  :host ::ng-deep .mat-form-field {
    width: 35vw !important;
  }
}

@media (max-width: 62em) {
  h1 {
    font-size: 1.625rem;
  }

  #contact {
    padding: 4rem;
  }
}
