<section id="contact" class="section background-cambridge">
  <h1 class="ub700 center-text midnight section-text-shadow">Get in touch</h1>
  <div fxLayoutAlign="center" fxLayout="column">
    <form
      id="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      fxLayoutAlign="center center"
      fxLayout="column"
    >
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea
          matInput
          placeholder="Comments"
          formControlName="message"
        ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        class="button background-midnight glow"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</section>
