<mat-dialog-content>
  <h2 mat-dialog-title class="space ms700" fxLayoutAlign="center">
    Log in to submit a temperature
  </h2>
  <form fxLayout="column">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="email"
        type="text"
        name="email"
        autocomplete="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="password"
        type="password"
        name="password"
        autocomplete="current-password"
        (keydown.enter)="login()"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center" fxLayout="column">
  <button
    class="background-space white ms500"
    mat-raised-button
    (click)="login()"
  >
    Log in
  </button>
  <div class="modal-link-container space ms500">
    <span class="modal-link" (click)="resetPassword()">Forgot Password?</span>
  </div>
</mat-dialog-actions>
