<mat-dialog-content>
  <h2 mat-dialog-title class="koa ub700" fxLayoutAlign="center center">
    Log in to submit a temperature
  </h2>
  <form fxLayout="column">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="email"
        type="text"
        name="email"
        autocomplete="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="password"
        type="password"
        name="password"
        autocomplete="current-password"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center" fxLayout="column">
  <button
    class="background-koa white ub500"
    mat-raised-button
    (click)="authService.signIn(email, password)"
  >
    Log in
  </button>
  <div class="modal-link-container koa ub400">
    <span class="modal-link" routerLink="/forgot-password"
      >Forgot Password?</span
    >
  </div>
</mat-dialog-actions>
