h2,
h3 {
  text-align: center;
}

input {
  color: #474747 !important;
  font-family: 'Montserrat', sans-serif;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #ffbf26 !important;
}

:host ::ng-deep .mat-form-field-label {
  color: #bcbcbc !important;
  font-family: 'Montserrat', sans-serif !important;
}

:host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: #ffbf26 !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: #bcbcbc !important;
}

:host ::ng-deep .mat-option-text {
  color: #bcbcbc !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

form {
  padding: 1rem;
}
