<mat-dialog-content>
  <h1 mat-dialog-title class="midnight ub700" fxLayoutAlign="center">
    Do you work for a London swimming venue?
  </h1>
  <h2 class="midnight ub500">
    Sign up here to submit temperatures and help Londoners plan their next swim.
  </h2>
  <form fxLayout="column">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="email"
        type="email"
        name="email"
        autocomplete="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Display name"
        [(ngModel)]="displayName"
        type="text"
        name="displayName"
        autocomplete="username"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="password"
        type="password"
        name="password"
        autocomplete="new-password"
        (keydown.enter)="signup()"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
  <div class="signup-button-modal">
    <button
      class="background-midnight white ub500"
      mat-raised-button
      (click)="signup()"
      fxFlexFill
    >
      Sign up
    </button>
  </div>
  <div class="label">
    <label *ngIf="isEmailInvalid" class="nah ub500" [@slideUp]
      >Uh oh. Your email tells us you may not be a swimming venue. Try again
      with your work email?</label
    >
  </div>
</mat-dialog-actions>
