<div *ngIf="shouldShowNav()">
  <div class="nav-container">
    <mat-toolbar
      class="navbar-desktop"
      fxLayoutAlign.gt-sm="space-between center"
      aria-role="navigation"
    >
      <div fxLayoutGap="30vw">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          fxShow="true"
          fxHide.gt-sm
          aria-label="Side nav toggle icon"
        >
          <mat-icon class="icon cambridge">menu</mat-icon>
        </button>
        <a href="/"
          ><img width="46" height="46" src="../../assets/lido-favicon.svg" />
        </a>
      </div>
      <div fxShow="true" fxHide.lt-md>
        <ul title="Main Menu" class="nav-list">
          <li class="nav-item">
            <a (click)="goTo('about')" class="nav-link cambridge ub500"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a (click)="goTo('contact')" class="nav-link cambridge ub500"
              >Contact</a
            >
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openLoginDialog(); sidenav.close()"
              class="nav-link cambridge ub500"
              >Log in</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a (click)="goTo('submit')" class="nav-link cambridge ub500"
              >Submit</a
            >
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openSignupDialog(); sidenav.close()"
              class="nav-link cambridge ub500"
              >Signup</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a
              (click)="authService.signOut(); sidenav.close()"
              class="nav-link cambridge ub500"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </div>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav class="sidenav background-midnight" position="start" #sidenav>
      <mat-nav-list fxLayout="column">
        <ul title="Main Menu">
          <li class="sidenav-item cambridge">
            <a (click)="goTo('about')" class="nav-link ub500">About</a>
          </li>
          <li class="sidenav-item cambridge">
            <a (click)="goTo('contact')" class="nav-link ub500">Contact</a>
          </li>
          <li class="sidenav-item cambridge" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openLoginDialog(); sidenav.close()"
              class="nav-link ub500"
              >Log in</a
            >
          </li>
          <li class="sidenav-item cambridge" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openSignupDialog(); sidenav.close()"
              class="nav-link ub500"
              >Signup</a
            >
          </li>
          <li class="sidenav-item nah" *ngIf="authService.isLoggedIn">
            <a
              (click)="authService.signOut(); sidenav.close()"
              class="nav-link ub500"
              >Log out</a
            >
          </li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
