.navbar {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f3764;
  margin-bottom: 0;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  padding-right: 1.75rem;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 3rem;
}

.nav-link:hover {
  color: #ffbf26 !important;
}

.nav-link {
  position: relative;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  text-decoration: none;
}

a {
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.nav-logo-mobile {
  margin-top: 0.15rem;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
}
