.nav-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-desktop {
  background-color: #142733;
  display: flex;
}

.icon {
  font-size: 2rem;
  margin-left: -0.75rem;
  margin-top: -0.25em;
}

.icon:active {
  color: #ffcf0f;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 3rem;
  padding-right: 1rem;
}

.nav-link:hover {
  color: #ffcf0f !important;
}

.nav-link {
  position: relative;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  text-decoration: none;
}

a {
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.sidenav {
  width: 35vw;
  padding-top: 3rem;
}

.sidenav-item {
  padding: 1rem;
}

.mat-drawer-container {
  position: static;
}

@media (min-device-width: 768px) and (max-device-width: 768px) {
  .home-button {
    margin-left: 10vw;
  }
}
