.nav-container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-desktop {
  background-color: #2f3764;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 2rem;
}

.icon:active {
  color: #debaa7;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 3rem;
}

.nav-link:hover :not(.sidenav) {
  color: #ffbf26 !important;
}

.nav-link {
  position: relative;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  text-decoration: none;
}

a {
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.nav-logo-mobile {
  margin-top: 0.15rem;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
}

.sidenav {
  width: 35vw;
}

.sidenav-item {
  padding: 1rem;
}

.mat-drawer-container {
  position: static;
}
