<mat-toolbar class="navbar">
  <a href="/"
    ><img
      class="nav-logo-mobile"
      width="46"
      height="46"
      src="../../assets/lido-favicon.svg"
    />
  </a>
  <ul title="Main Menu" class="nav-list">
    <li class="nav-item">
      <a href="/about" class="nav-link eggshell ub500">About</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link eggshell ub500">Contact</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link eggshell ub500">Login</a>
    </li>
  </ul>
</mat-toolbar>
