<div *ngIf="shouldShowNav()">
  <div class="nav-container">
    <mat-toolbar
      class="navbar-desktop"
      fxLayoutAlign.gt-sm="space-between center"
      fxLayoutAlign.lt-md="start center"
      aria-role="navigation"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
        aria-label="Side nav toggle icon"
      >
        <mat-icon class="icon gray">menu</mat-icon>
      </button>
      <a class="home-button" href="/"
        ><img height="50" src="../../assets/logo.png" />
      </a>
      <div fxShow="true" fxHide.lt-md>
        <ul title="Main Menu" class="nav-list">
          <li class="nav-item">
            <a (click)="goTo('about')" class="nav-link gray ms500">About</a>
          </li>
          <li class="nav-item">
            <a (click)="goTo('contact')" class="nav-link gray ms500">Contact</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openLoginDialog(); sidenav.close()"
              class="nav-link gray ms500"
              >Log in</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a (click)="goTo('submit')" class="nav-link gray ms500">Submit</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openSignupDialog(); sidenav.close()"
              class="nav-link gray ms500"
              >Sign up</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a
              (click)="authService.signOut(); sidenav.close()"
              class="nav-link gray ms500"
              >Log out</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </div>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav class="sidenav background-white" position="start" #sidenav>
      <mat-nav-list fxLayout="column">
        <ul title="Main Menu">
          <li class="sidenav-item gray">
            <a (click)="goTo('about')" class="nav-link ms500">About</a>
          </li>
          <li class="sidenav-item gray">
            <a (click)="goTo('contact')" class="nav-link ms500">Contact</a>
          </li>
          <li class="sidenav-item gray" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openLoginDialog(); sidenav.close()"
              class="nav-link ms500"
              >Log in</a
            >
          </li>
          <li class="sidenav-item gray" *ngIf="authService.isLoggedIn">
            <a (click)="goTo('submit')" class="nav-link gray ms500">Submit</a>
          </li>
          <li class="sidenav-item gray" *ngIf="!authService.isLoggedIn">
            <a
              (click)="openSignupDialog(); sidenav.close()"
              class="nav-link ms500"
              >Sign up</a
            >
          </li>
          <li class="sidenav-item nah" *ngIf="authService.isLoggedIn">
            <a
              (click)="authService.signOut(); sidenav.close()"
              class="nav-link ms500"
              >Log out</a
            >
          </li>
        </ul>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
